main {
  min-width: 50%;
  margin: 2.5rem 0;
  padding: 0 1.5rem;
}
.price-card {
  max-width: 600px;
  margin-inline: auto;
  background: #fff;
  text-align: center;
  border-radius: 10px;
  box-shadow: 0 10px 45px -25px $Grayish-Blue-Text;

  &__upper {
    border-bottom: 1px solid rgba(204, 204, 204, 0.56);
    padding: 2.3rem 1.5rem;
    position: relative;

    & > *:not(:last-child) {
      margin-bottom: 2.5rem;
    }

    &--views-box {
      label {
        font-size: 0.9rem;
        text-transform: uppercase;
        font-weight: 900;
        color: rgba(0, 0, 0, 0.45);
        letter-spacing: 2px;
      }
      .sliderBox {
        margin-top: 2.5rem;
        height: 10px;
        width: 100%;
        position: relative;
        #slider {
          -webkit-appearance: none;
          appearance: none;
          width: 100%;
          height: 100%;
          background: $Light-Grayish-Blue-Empty-Slider-Bar;
          border-radius: 1rem;
          outline: none;
          position: absolute;
          top: 0;
          left: 0;
          z-index: 1;
        }

        .progressBar {
          width: 50%;
          height: 100%;
          border-radius: 1rem;
          position: absolute;
          top: 0;
          left: 0;
          background-color: $Soft-Cyan-Full-Slider-Bar;
          z-index: 10;
          pointer-events: none;
          transition: all 0.2s;
        }

        #slider::-webkit-slider-thumb {
          -webkit-appearance: none;
          appearance: none;
          width: 40px;
          height: 40px;
          // background: $Strong-Cyan-Slider-Backround;
          // background-image: url(../images/icon-slider.svg);
          // background-repeat: no-repeat;
          // background-position: center;
          cursor: pointer;
          border-radius: 50%;
          // box-shadow: 0 20px 30px -3px $Strong-Cyan-Slider-Backround;
        }

        .progressBtn {
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          width: 40px;
          height: 40px;
          background: $Strong-Cyan-Slider-Backround;
          background-image: url(../images/icon-slider.svg);
          background-repeat: no-repeat;
          background-position: center;
          // cursor: pointer;
          pointer-events: none;
          border-radius: 50%;
          box-shadow: 0 20px 30px -3px $Strong-Cyan-Slider-Backround;
          z-index: 20;
          transition: all 0.2s;
        }
      }
    }

    &--price-box {
      h1 {
        font-weight: 800;
        font-size: 2rem;
        display: flex;
        gap: 0.5rem;
        align-items: center;
        justify-content: center;
        color: $Dark-Desaturated-Blue-Text-CTA-Background;

        span {
          font-size: 1rem;
          color: rgba(0, 0, 0, 0.5);
          font-weight: 600;
        }
      }
    }

    @media (min-width: 670px) {
      &--price-box {
        position: absolute;
        top: 2.9rem;
        right: 3rem;

        h1 {
          font-weight: 800;
          font-size: 2.5rem;

          span {
            font-weight: 800;
          }
        }
      }
    }

    &--billing-box {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 11px;

      span {
        font-size: 13px;
        font-weight: 600;
        color: rgba(0, 0, 0, 0.5);
      }

      .discount {
        font-size: 12px;
        color: $Light-Red-Discount-Text;
        background: hsla(15, 100%, 70%, 0.2);
        padding: 0.2rem 0.5rem;
        border-radius: 1rem;
      }

      .switch {
        position: relative;
        display: inline-block;
        width: 45px;
        height: 23px;

        & input {
          opacity: 0;
          width: 0;
          height: 0;
        }

        /* The slider */
        .slider {
          position: absolute;
          cursor: pointer;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
          background-color: $Light-Grayish-Blue-Toggle-Background;
          -webkit-transition: 0.4s;
          transition: 0.4s;
        }

        .slider:before {
          position: absolute;
          content: "";
          height: 15px;
          width: 15px;
          left: 4px;
          bottom: 4px;
          background-color: white;
          -webkit-transition: 0.4s;
          transition: 0.4s;
        }

        input:checked + .slider {
          background-color: $Strong-Cyan-Slider-Backround;
        }
        input:not(:checked) + .slider {
          background-color: $Light-Grayish-Blue-Toggle-Background;
        }

        input:focus + .slider {
          box-shadow: 0 0 1px $Strong-Cyan-Slider-Backround;
        }

        .slider:hover {
          background-color: $Strong-Cyan-Slider-Backround;
        }

        input:checked + .slider:before {
          -webkit-transform: translateX(22px);
          -ms-transform: translateX(22px);
          transform: translateX(22px);
        }

        /* Rounded sliders */
        .slider.round {
          border-radius: 34px;
        }

        .slider.round:before {
          border-radius: 50%;
        }
      }
    }
  }
  &__lower {
    padding: 2rem 1.5rem;

    &--text > * {
      display: block;
      margin-bottom: 0.8rem;
    }

    &--text {
      span {
        font-size: 0.9rem;
        font-weight: 600;
        color: rgba(0, 0, 0, 0.45);
      }

      span i {
        color: #10d8c4;
        margin-right: 1rem;
      }
    }

    &--btn {
      margin-top: 2rem;
      a {
        display: inline-block;
        padding: 0.7rem 2.5rem;
        background: $Dark-Desaturated-Blue-Text-CTA-Background;
        border-radius: 2rem;
        text-decoration: none;
        color: $Pale-Blue-CTA-Text;
        font-weight: 600;
        font-size: 0.9rem;
        letter-spacing: 1px;
      }
    }
  }
}

@media (min-width: 670px) {
  .price-card {
    text-align: left;

    &__upper {
      padding: 4rem 3rem 3rem 3rem;
      & > *:not(:last-child) {
        margin-bottom: 4rem;
      }

      &--views-box {
        label {
          font-size: 1rem;
        }
        .sliderBox {
          margin-top: 3.5rem;
        }
      }

      &--billing-box {
        gap: 25px;

        span {
          font-size: 15px;
          font-weight: 700;
          color: rgba(0, 0, 0, 0.5);
        }
      }
    }
    &__lower {
      padding: 3rem;
      display: flex;
      justify-content: space-between;

      &--text {
        span {
          font-size: 1rem;
          font-weight: 600;
        }
      }
    }
  }
}
